// Place all the styles related to the api::comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comment-container {
    width: 100%;
}

#comments-list {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0 15px;
}

.fa-trash {
    color: rgb(201, 201, 201);
    font-size: 15px;
}

.fa-trash:hover {
    color: #ed4956;
}

#comments-item-container {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 5px;
}

#comment-body {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 200px;
}


#comments-body-item-container {
    display: flex;
    margin: 6px 0px;
    color: rgb(38, 38, 38);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#comments-trash-container {
    cursor: pointer;
}

#comment-username {
    font-weight: 600;
    margin-right: 5px;
    text-decoration: none;
    color: #262626;
}

#comment-username:hover {
    text-decoration: underline;
    cursor: pointer;
}

#comment-body {
    font-weight: 400;
}

#comment-form {
    display: flex;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgb(219, 219, 219);
    border-top: 1px solid rgb(219, 219, 219);
    padding: 5px 0;
}

#comment-form-svg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

#comment-form input {
    border: none;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: rgb(38, 38, 38);
    background-color: #fafafa;
    width: calc(100% - 80px);
}

#comment-form input:focus{
    outline: none;
}

#comment-post-button {
    width: 40px;
    height: 40px;
    color: rgb(0, 149, 246);
    font-weight: 600;
    font-size: 14px;
    border: none;
    background-color: #fafafa;
    cursor: pointer;
    margin: 0 5px;
}

#comment-post-button-disabled {
    width: 40px;
    height: 40px;
    color: rgb(0, 149, 246);
    font-weight: 600;
    font-size: 14px;
    border: none;
    background-color: #fafafa;
    margin: 0 5px;
    opacity: 0.3;
}

