#create-post-form-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

#create-post-form {
    background-color: white;
    border: 1px solid black;
    width: 70%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#create-post-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    // height: 50px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

#dummy-text {
    color: white;
    margin-left: 20px;
}

#create-text {
    color: rgb(38, 38, 38);
    font-weight: 600;
    font-size: 16px;

}

#share-text {
    color: #0095f6;
    background-color: white;
    border: none;
    font-weight: 600;
    font-size: 14px;
    margin-right: 20px;
    cursor: pointer;
}

#post-form {
    height: 100%;
    position: relative;
    display: flex;
}

#form-left-side {
    border-right: 1px solid rgb(219, 219, 219);
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#preview-photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#upload-image {
    margin-bottom: 40px;
}

#select-from-computer {
    background-color: rgb(0, 149, 246);
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

#file-input-button {
    display: none;
}

#form-right-side {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

#form-right-side-header {
    display: flex;
    align-items: center;
}

#form-user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 15px 15px;
}

#caption-input {
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border: none;
    resize: none;
    margin-left: 5px;
    color: rgb(38, 38, 38);
}

#caption-input:focus{
    outline: none;
}

#form-close-button {
    display: flex;
    margin-top: 40px;
    justify-content: end;
    margin-right: 15px;
    cursor: pointer;
}