// Place all the styles related to the api::likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.like-button {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#unliked:hover {
    opacity: 50%;
}

.num-likes {
    color: #262626;
    font-weight: 600;
    font-size: 14px;
}

