#post-show-page {
    display: flex;
    max-width: 900px;
    width: 70%;
    height: 50%;
    justify-content: center;
    margin: auto auto;
    margin-top: 90px;
    border-radius: 3px;
}

#post-show-container {
    display: flex;
    width: 100%;
    border: 1px solid rgb(219, 219, 219);
}


#individual-post-photo {
    width: calc(100% - 300px);
    height: auto;
    object-fit: contain;
    // height: 100%;
    // object-fit: cover;
    // background-color: black;
}

#post-photo-right-container {
    width: 300px;
}

#post-photo-right-side {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#right-side-header {
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: 15px 0px;
}

#period {
    padding: 0px 2px;
    margin-right: 5px;
}

#right-side-header p {
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    color: rgb(38, 38, 38);
}

#post-likes-box {
    margin-left: 10px;
}

#post-photo-photo-caption-container {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

#post-show-user-caption-container {
    display: flex;
}

#post-show-caption {
    font-size: 14px;
    color: #262626;
    font-weight: 400;
    line-height: 18px;
}