#delete-show-edit-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25vw;
    height: 25vh;
    max-width: 250x;
    max-height: 300px;
    position: relative;
    border-radius: 12px;
}

.delete-show-edit-modal-category {
    width: 100%;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    background-color: white;
    box-sizing: border-box;
    border: none;
    
}

#delete-show-edit-option-delete, #delete-show-edit-option-edit, #delete-show-edit-option-show {
    border-bottom: 1px solid rgb(219, 219, 219);
}

.delete-show-edit-modal-category {
    text-decoration: none;
    color: rgb(38, 38, 38);
}

#delete-show-edit-option-delete {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#delete-show-edit-option-cancel {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}



