#nav-bar {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(219, 219, 219);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

#nav-bar h1 {
    font-size: 40px;
    margin-left: 60px;
    cursor: pointer;
}

#nav-bar-icons {
    // width: 150px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
}


.nav-bar-icon {
    display: inline-block;
    cursor: pointer;
}

.profile-nav-icon {
    border: 1px solid black;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    position: relative;
}

.profile-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 0.5px 0.5px rgb(219, 219, 219);
    border-radius: 5px;
    right: -25px;
    top: 41px;
    width: 200px;
}

#show {
    display: block;
}

.profile-dropdown div {
    padding: 10px 0px 10px 10px;
}

.dropdown-icon-div {
    display: flex;
}

.dropdown-icon-div:hover {
    background-color: rgb(250, 250, 250);
}


.dropdown-icon-div p {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 5px;
}

.dropdown-icon {
    padding-right: 10px;
}

#dropdown-logout {
    border-top: 1px solid rgb(219, 219, 219);
}

#dropdown-logout p {
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0px 5px 0px;
}

#dropdown-logout:hover {
    background-color: rgb(250, 250, 250);
}