#user-show-post-close-button {
    display: flex;
    justify-content: end;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 60px;
    margin-right: 30px;
}

#user-show-post-wrapper {
    width: 100vw;
    height: 100vh;
}

#user-show-post-container {
    width: 85vw;
    height: auto;
    max-height: 90vh;
    margin: auto;
    border: 1px solid white;
}

#user-show-post-photo {
    width: 50%;
    max-width: calc(100% - 300px);
    height: 100%;
    max-height: 90vh;
    object-fit: contain;
    background-color: black;
}

